{% for p in products %}
    <div class="car-view1-wrapper">
        <div class="car-view1 clearfix">
            <figure><img src="{{ p.alt }}" alt="" class="img-responsive prodlistbg">
            </figure>
            <div class="caption">
                <div class="top-info clearfix">
                    <div class="info1">
                        <div class="txt1">{{ p.nomProduit }}</div>
                        <div class="txt2">
                            <span class="txt">NOTATION</span>
                            <span class="stars">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        </span>
                        </div>
                    </div>
                    <div class="info2">
                        <div class="txt3">
                            {% if p.prix is empty %}
                                <span class="text-white">Prix négociable</span>
                            {% else %}
                                {{ p.prix|number_format(0,'.',' ') }}
                                FCFA
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="txt4">
                    {{ p.description|slice(0,10) }}...
                </div>
                <div class="bot-info clearfix">
                    <div class="info3">
                        <div class="txt5">{{ p.vitesse }}
                            KM/H
                        </div>
                        {# <div class="txt6">Registered 2017&nbsp; /&nbsp; New&nbsp; /&nbsp; 8-Speed Automatic&nbsp; /&nbsp; Petrol</div> #}
                    </div>
                    <div class="info4">
                        <div class="txt7">
                            <a href="{{ path('details',{'id':p.id}) }}" class="btn-default btn3">VOIR DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}