{% for p in singleCat %}
    <div class="car-view1-wrapper">
        <div class="car-view1 clearfix">
            <figure><img src="{{ asset('uploads/products/piecedetachee/'~ p.image) }}" class="img-responsive prodlistbg">
            </figure>
            <div class="caption">
                <div class="top-info clearfix">
                    <div class="info1">
                        <div class="txt1">{{ p.libelle }}</div>
                    </div>
                    <div class="info2">
                        <div class="txt3">
                            {% if p.prix is empty %}
                                <span class="text-white">Prix négociable</span>
                            {% else %}
                                {{ p.prix|number_format(0,'.',' ') }}
                                FCFA
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="bot-info clearfix">
                    <div class="info4">
                        <div class="txt7">
                            <a href="{{ path('detailsP',{'id':p.id}) }}" class="btn-default btn3">VOIR DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}