<div class="text-center font-weight-bold primary2-text">NOS CATEGORIES</div>
<ul class="ul1">
    {% for c in categories %}
        <li>
            <a href="{{ path('selectCategoriePiece',{'libelle':c.libelle}) }}">
                <i class="fas fa-chevron-left"></i>{{ c.libelle }}</a>
        </li>
    {% endfor %}
</ul>