<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="row">
            {% for p in offer|slice(0,6) %}
                <div class="col-sm-4">
                    <div class="thumb2">
                        <div class="thumbnail clearfix">
                            <figure class="">
                                <a href="{{ path('detailsP',{'id':p.id}) }}">
                                    <img src="{{ asset('uploads/products/piecedetachee/'~ p.image) }}" class="prodlist img-responsive" alt="image"/>
                                </a>
                            </figure>
                            <div class="caption">
                                {# <div class="txt1">REGISTERED 2015</div> #}
                                <div class="txt2">{{ p.libelle }}</div>
                                <div class="info clearfix">
                                    <span class="price">
                                     {% if p.prix is empty %}
                                         <b class="text-warning">Prix négociable</b>
                                     {% else %}
                                         {{ p.prix|number_format(0, '.', ' ') }}
                                         FCFA
                                     {% endif %}
                                        </span>
                                    <span class="speed">
                                        {#<i class="fas fa-tachometer-alt"></i>#}

                                        {{ p.catelib }}

                                    </span>
                                </div>
                                {# <div class="txt3">
                                Used • 2015 • Automatic • White • Petrol
                            </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <a href="{{ path('productpieces',{ 'page': 1 }) }}" class="mx-auto btn btn-danger font-weight-bold">
                VOIR PLUS
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        {{ render(controller('AppBundle:Default:categoirespiece')) }}
    </div>
</div>