<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myHeader">
    <div class="container">
        <a class="navbar-brand" href="{{path('homepage')}}"><img src="{{ asset('dist/img/san.png') }}" class="logoimg"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-links" href="{{path('homepage')}}">
                        <i class="fas fa-home"></i>
                        ACCUEIL
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" href="{{path('homepage')}}#nouveautés">LES NOUVEAUTÉS</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link nav-links dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        NOS PRODUITS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{path('products')}}">MOTOS</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('productpieces')}}">PIECES DETACHEES</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path('productlubrifiants')}}">LUBRIFIANTS</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-links" href="{{ path('contact') }}">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>