<div id="best">
    <div class="container">

        <div class="title1">
            <span>NOS PRODUITS</span></div>

        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-left tab-text active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                   role="tab" aria-controls="pills-home" aria-selected="true">MOTOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-left tab-text" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                   role="tab" aria-controls="pills-profile" aria-selected="false">PIECES DETACHEES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-left tab-text" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                   aria-controls="pills-contact" aria-selected="false">LUBRIFIANTS</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                {{ render(controller('AppBundle:Default:offers')) }}
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                {{ render(controller('AppBundle:Default:pieceoffers')) }}
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-profile-tab">
                {{ render(controller('AppBundle:Default:lubrifiantoffers')) }}
            </div>

        </div>

    </div>
</div>