<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    {# <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol> #}
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ asset('dist/img/banner.jpg') }}" alt="Bienveune a vitraco sanya">

        </div>

        {% for p in promotion %}

                <div class="carousel-item">
                    {% if p.productId is null%}
                        <img class="d-block w-100" src="{{ p.alt }}" alt="slide">
                    {% else %}
                        <img class="d-block w-100" src="{{ p.alt }}" alt="slide">
                        <div class="carousel-caption d-none d-md-block slideTxt">
                            <div class="container">

                                <div class="txt2">{{ p.nomProduit }}</div>
                                <div class="d-flex flex-row bd-highlight mb-3 float-right">
                                    <div class="p-2 bd-highlight font-weight-bold">
                                        <span class="model">{{ p.model }}</span>
                                    </div>
                                    <div class="p-2 bd-highlight font-weight-bold">
                                        <span class="pricetag">
                                            {% if p.prix is empty %}
                                                Prix negociable
                                            {% else %}
                                                {{ p.prix }}
                                                FCFA
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="link2">
                                    <a href="{{ path('details',{'id':p.productId}) }}" class="slider-link2">
                                        <span>VOIR DETAILS</span></a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
        {% endfor %}

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>