<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Visionaries-Studio">
        <meta name="robots" content="follow, index">
        <meta name="googlebot" content="index">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('dist/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('dist/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('dist/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('dist/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('dist/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>
            Société VITRACO-
            {% block title %}{% endblock %}
        </title>

        <!-- My styles Starts-->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('dist/css/main.css') }}"/>
            <link rel="stylesheet" href="{{ asset('dist/css/style.css') }}"/>
            <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('dist/css/all.min.css') }}"/>
        {% endblock %}
        <!-- My styles Ends-->
        <link rel="icon" type="image/x-icon" href="{{ asset('dist/favicon.ico') }}"/>
    </head>
    <body>
        <div class="top0">
            <div class="container">

                <div class="block-left">
                    <div class="address1">
                        <span aria-hidden="true" class="fas fa-map-marker-alt "></span>
                        <!-- BAR - TITO C/485 Cotonou - Bénin -->
                        <a href="http://vitraco.fr/contact" class="text-white font-weight-bold">
                            NOS AGENCES
                        </a>
                    </div>
                    <div class="phone1">
                        <span aria-hidden="true" class="fas fa-phone"></span>
                        (+229) 94 04 64 52 - (+229) 95 96 57 26 - (+229) 95 0017 11 - (+229) 95 15 48 26 
                    </div>

                </div>
                <div class="block-right">
                    <div class="register1 d-lg-none">
                        <div class="address1">
                        <span aria-hidden="true" class="fas fa-map-marker-alt "></span>
                        <!-- BAR - TITO C/485 Cotonou - Bénin -->
                        <a href="http://vitraco.fr/contact" class="text-white font-weight-bold">
                            NOS AGENCES
                        </a>
                    </div>
                    <div class="phone1">
                        <span aria-hidden="true" class="fas fa-phone"></span>
                        (+229) 94 04 64 52 - (+229) 95 96 57 26 - (+229) 95 0017 11
                    </div>
                    </div>
                    <!-- <div class="signin1 d-lg-none">
                        <span class="boldFont">
                            
                            (+229) 97 68 87 20</span>
                    </div> -->
                   
                </div>

            </div>
        </div>
        {% block menu %}
            {% include 'default/include/menu.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}
        <div class="bot2-wrapper">
            <div class="container">
                <div class="bot2 clearfix">
                    <div class="right-block">
                        <div class="social2_wrapper">
                            <ul class="social2 clearfix">
                                <li>
                                    <a href="#">
                                        <span aria-hidden="true" class="fab fa facebooksquare"></span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span aria-hidden="true" class="fab fa twitter-square"></span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span aria-hidden="true" class="fab fa google-plus-g"></span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span aria-hidden="true" class="fab fa youtube"></span></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span aria-hidden="true" class="fab fa skype"></span></a>
                                </li>

                            </ul>
                        </div>
                        <div class="menu2_wrapper">
                            <ul class="menu2 clearfix">
                                <li>
                                    <a href="{{path('homepage')}}">Accueil</a>
                                </li>
                                <li>
                                    <a href="{{path('homepage')}}#Nouveautés">Nouveauté</a>
                                </li>
                                <li>
                                    <a href="{{path('products')}}">Nos Produits</a>
                                </li>
                                <li>
                                    <a href="{{path('contact')}}">Contact</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="left-block">
                        <div class="logo2_wrapper">
                            <a href="" class="logo2">
                                <img src="{{ asset('dist/img/san.png') }}" alt="" class="img-fluid" style="height:80px">
                            </a>
                        </div>
                        <div class="copyrights">All rights reservered by Vitraco SANYA © 2018 Designed by <a href="https://www.linkedin.com/in/radji-mubarak-51345011a" target="_blank" style="text-decoration: none; color: #999999">Visionaries-Studio</a></div>
                    </div>

                </div>
            </div>
        </div>
        <a href="#" id="toTop" style="display: inline;">
            <span id="toTopHover"></span></a>
        <!-- My script Starts-->
        {% block javascripts %}
            <script src="{{asset ('distadmin/vendors/bower_components/jquery/dist/jquery.min.js')}}"></script>
            <script type="text/javascript" src="{{ asset('dist/js/ajax.js') }}"></script>

            <script type="text/javascript" src="{{ asset('dist/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('dist/js/main.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

            <script>
               
            </script>
        {% endblock %}
        <!-- My script Ends-->
    </body>
</html>