<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Visionaries-Studio">
        <meta name="robots" content="follow, index">
        <meta name="googlebot" content="index">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('dist/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('dist/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('dist/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('dist/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('dist/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>
            Espace Admin- Société VITRACO
            {% block title %}{% endblock %}
        </title>

        <!-- My styles Starts-->
        {% block stylesheets %}
            <!-- Vendor styles -->
            <link rel="stylesheet" href="{{asset('distadmin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css')}}">
            <link rel="stylesheet" href="{{asset('distadmin/vendors/bower_components/animate.css/animate.min.css')}}">
            <link rel="stylesheet" href="{{asset('distadmin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.css')}}">
            <link rel="stylesheet" href="{{asset('distadmin/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css')}}">
            <link rel="stylesheet" href="{{asset ('distadmin/vendors/flatpickr/flatpickr.min.css')}}"/>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('distadmin/css/chosen.min.css') }}">
            <!-- App styles -->
            <link rel="stylesheet" href="{{asset('distadmin/css/app.min.css')}}">

            <!-- Demo -->
            <link rel="stylesheet" href="{{asset('distadmin/demo/css/demo.css')}}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('dist/favicon.ico') }}"/>
    </head>
    <body data-ma-theme="blue">
        <main class="main">
            <div class="page-loader">
                <div class="page-loader__spinner">
                    <svg viewbox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                </div>
            </div>

            <header class="header">
                <div class="navigation-trigger hidden-xl-up" data-ma-action="aside-open" data-ma-target=".sidebar">
                    <div class="navigation-trigger__inner">
                        <i class="navigation-trigger__line"></i>
                        <i class="navigation-trigger__line"></i>
                        <i class="navigation-trigger__line"></i>
                    </div>
                </div>

                <div class="header__logo hidden-sm-down">
                    <h1>
                        <a href="">
                            Espace Admin
                        </a>
                    </h1>
                </div>

            </header>
            {% block menu %}
                <aside class="sidebar">
                    <div class="scrollbar-inner">
                        <div class="user">
                            <div class="user__info" data-toggle="dropdown">
                                <img class="user__img" src="{{asset('distadmin/demo/img/profile-pics/8.jpg')}}" alt="">
                                <div>
                                    <div class="user__name">{{app.user.username}}</div>
                                    <div class="user__email">{{app.user.email}}</div>
                                </div>
                            </div>

                            <div class="dropdown-menu">
                                {# <a class="dropdown-item" href="#">View Profile</a> #}
                                {# <a class="dropdown-item" href="#">Settings</a> #}
                                <a class="dropdown-item" href="{{path('fos_user_security_logout')}}">Deconnexion</a>
                            </div>
                        </div>

                        {% include 'adminpart/include/adminmenu.html.twig' %}
                    </div>
                </aside>

            {% endblock %}

            <section class="content">
                {% block errospan %}
                    {% for message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <i class="fa fa-exclamation fa-fw"></i><strong>{{ message|raw }}</strong>
                        </div>

                    {% endfor %}

                    {% for message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                            <i class="fa fa-check-circle fa-fw"></i> {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endblock %}
                {% block content %}{% endblock %}
            </section>
            <div></div>
            {% block javascripts %}
                <!-- Vendors -->
                <script src="{{asset ('distadmin/vendors/bower_components/jquery/dist/jquery.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/popper.js/dist/umd/popper.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/jquery.scrollbar/jquery.scrollbar.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/jquery-scrollLock/jquery-scrollLock.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/flot/jquery.flot.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/flot/jquery.flot.resize.js')}}"></script>

                <script src="{{asset ('distadmin/vendors/bower_components/moment/min/moment.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/flatpickr/flatpickr.min.js')}}"></script>
                <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>

                <script src="{{asset ('distadmin/vendors/bower_components/select2/dist/js/select2.full.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/dropzone/dist/min/dropzone.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/moment/min/moment.min.js')}}"></script>
                <script src="{{asset ('distadmin/vendors/bower_components/trumbowyg/dist/trumbowyg.min.js')}}"></script>
                <!-- App functions and actions -->
            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>#}
            <script src="{{ asset('distadmin/js/chosen.jquery.min.js') }}"></script>
            <script >
            $(document).ready(function() {
    // $('.jsselect').select2({
    $(".chosen-select").chosen({
    width: "95%"
    });    // allowClear: true
});
</script>
                <script src="{{asset('distadmin/js/app.min.js')}}"></script>
                 <script src="{{asset ('distadmin/js/dropzone.min.js')}}"></script>

            {% endblock %}
        </body>
    </html>
