<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="Visionaries-Studio">
        <meta name="robots" content="follow, index">
        <meta name="googlebot" content="index">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('dist/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('dist/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('dist/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('dist/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('dist/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        {%block steelsheet%}
            <!-- Vendor styles -->
            <link rel="stylesheet" href="{{asset('distadmin/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}">
            <link rel="stylesheet" href="{{asset('distadmin/vendors/bower_components/animate.css/animate.min.css') }}">

            <!-- App styles -->
            <link rel="stylesheet" href="{{asset('distadmin/css/app.min.css') }}">

        {% endblock %}
        <title>Société VITRACO- Login</title>
    </head>

    <body data-ma-theme="blue">
        <div class="login">
            {% block content %}{% endblock %}
        </div>
    </body>

    {% block javascripts %}
        <script src="{{asset ('distadmin/vendors/bower_components/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{asset ('distadmin/vendors/bower_components/popper.js/dist/umd/popper.min.js')}}"></script>
        <script src="{{asset ('distadmin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>

        <!-- App functions and actions -->
        <script src="{{asset ('distadmin/js/app.min.js')}}"></script>
    {% endblock %}
</html>