<ul class="navigation">

    <li class="" id="category">
        <a href="{{ path('categorie_index') }}">
            <i class="zmdi zmdi-home"></i>
            Catégories</a>
    </li>
    <li class="navigation__sub" id="product">
        <a href="{{ path('produit_index') }}">
            <i class="zmdi zmdi-home"></i>
            Produits</a>
        <ul>
            <li id="moto"><a href="{{ path('produit_index') }}">Motos</a></li>
            <li id="piece"><a href="{{ path('produit_autre') }}">Autre(s) Produit(s)</a></li>
        </ul>
    </li>
    <li class="" id="promotion">
        <a href="{{ path('promotions_index') }}">
            <i class="zmdi zmdi-home"></i>
            Promotions</a>

    </li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="" id="user">
        <a href="{{ path('utilisateur_index') }}">
            <i class="zmdi zmdi-home"></i>
            Utilisateurs</a>
    </li>
    {% endif %}
</ul>