{% extends 'base.html.twig' %}
{% block title %}CONTACT{% endblock %}
{% block body %}
<div class="breadcrumbs1_wrapper">
	<div class="container">
		<div class="breadcrumbs1">
			<a href="{{ path('homepage') }}">Home</a>
			<i class="fas fa-angle-right"></i>
			Contact
		</div>
	</div>
</div>
<div id="content">
	<div class="container">
		<p>IMPORT - EXPORT - COMMERCE GENERAL Vente des motos SANYA neuves d'Origine Pièces
			Détachées Auto - Moto d'origine -Pneumatique - Batteries <br>
			RC N° RB Cot. 2004 -B -1421 <br>
		INSAE N°2445030245607</p>
        {% for message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <i class="fa fa-exclamation fa-fw"></i><strong>{{ message|raw }}</strong>
            </div>

        {% endfor %}

        {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                <i class="fa fa-check-circle fa-fw"></i> {{ message|raw }}
            </div>
        {% endfor %}
		<div class="row">
			<div class="col-sm-6">
				<div id="fields3">
					<br> 
					<div class="banner2">
						<h4 class="text-center font-weight-bold mb-3"><span class="text-uppercase">NOS agences  </span>
                          <p class="smallfont">
                             <i class="fa fa-clock" aria-hidden="true"></i>
                             - Lundi au Vendredi de 09h00 a 18h00
                         </p>
                     </h4>
                     <div class="forceScr">  
                         <div class="info1 mb-3">
                           <div class="txt1">BAR - TITO <span class="addressFont">C/485 Jéricho 08 BP 0917 Cotonou - Bénin</span></div>
                       </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                            	<i class="fa fa-phone" aria-hidden="true"></i>
                            - (229) 95 00 17 02</p>
                            
                            
                            <div class="info1 mb-3 mt-4">
                            	<div class="txt1">LA BENINOISE- <span class="addressFont">Akpakpa carrefour la béninoise</span> </div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                            	<i class="fa fa-phone" aria-hidden="true"></i>
                            - (229) 94 46 94 78</p>
                            

                            <div class="info1 mb-3 mt-4">
                            	<div class="txt1">PORTO-DJAGUIDI- <span class="addressFont">Porto-Novo quartier : Houimey  </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                            	<i class="fa fa-phone" aria-hidden="true"></i>
                            - (229) 94 01 19 39</p>
                            
                            <div class="info1 mb-3 mt-4">
                            	<div class="txt1">JERICHO- <span class="addressFont">Jéricho carrefour BIBE </span> </div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                            	<i class="fa fa-phone" aria-hidden="true"></i>
                            - (229) 95 71 06 79</p>

                            <div class="info1 mb-3 mt-4">
                            	<div class="txt1">ETOILE 1- <span class="addressFont">A côté de la station SONACOP Carrefour Etoile rouge </span>			</div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                            	<i class="fa fa-phone" aria-hidden="true"></i>
                            - (229) 65 24 93 29</p>
                            
                            <div class="info1 mb-3 mt-4">
                            	<div class="txt1">ETOILE 2- <span class="addressFont">Vodjè Etoile rouge</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                            	<i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 72 04
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">VEDOKO- <span class="addressFont">Vèdoko non loin du carrefour la vie </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 15 65
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">VEDOKO TRYCICLE- <span class="addressFont">Carrefour TOYOTA</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 46 68
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">KINDONOU-<span class="addressFont">  50 m après l’échangeur godomey en allant vers le Stade Mathieu KEREKOU </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 95 00 17 06
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">GODOMEY PIECES- <span class="addressFont">Echangeur godomey</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 35 28 
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">COCOTOMEY- <span class="addressFont"> Cocotomey en face l’agence LNB juste après le carrefour PLATINUM</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 72 01
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">ZOGBO PIECES-<span class="addressFont"> Zogbo en face l’ancienne  EcoBank non loin du carrefour principal</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 99 83
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">AZOVE-<span class="addressFont"> 15m du grand carrefiur Azove en allant à Abomey</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 95 00 17 09
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">KLOUEKANMEY-<span class="addressFont"> Klouekanmey non loin du grand carrefour </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 06 43
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">LOKOSSA-<span class="addressFont"> Lokossa</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 95 00 17 13
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">COME-<span class="addressFont"> Comé</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 01 78
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">HILACONDJI- <span class="addressFont">En face de Gah gros porteur </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 65 32 10 28
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">SAVALOU-<span class="addressFont"> A côté de la pharmacie alafia, en face de l’Ecobank</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 15 63
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">TCHAOROU-<span class="addressFont"> Quelques mettre du grand marché de la ville</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 46 65
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">PARAKOU SINANGOUROU-<span class="addressFont"> Non loin du rond-point Hubert Maga</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 72 07
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">PARAKOU GAH-<span class="addressFont"> Parakou quartier Gah</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 72 06
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">PARAKOU TRANZA- <span class="addressFont">Tranza en face BOA</span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 01 75 
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">N’DALI- <span class="addressFont">N’dali 30 mettre avant la gah </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 46 94 76
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">DJOUGOU- <span class="addressFont">Djougou en face SOBEBRA</div>
                            </span></div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 01 46 66
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">NATITINGOU- <span class="addressFont">En face le CEG 1 de Natitingou et en bas de l’immeuble de recette d’impôt. </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 94 46 94 77
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">PORGA- <span class="addressFont">Non loin du poste de contrôle de la douane </span></div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 95 33 50 64
                            </p>
                            <div class="info1 mb-3 mt-4">
                                <div class="txt1">KANDI- Kandi en face la Von SODEKO</div>
                            </div>
                            <!-- <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            - support@vitraco.fr</p> -->
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                - (229) 64 10 27 08
                            </p>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-6">
             <div id="fields3">
              <br>
              <div class="banner2">
               <h4 class="text-center font-weight-bold mb-3">Contactez-nous</h4>
               <form id="ajax-contact-form3" class="form-horizontal" action="{{ path('contactsent') }}">
                <div class="row">
                 <div class="col-sm-12">

                  <div class="row">
                   <div class="col-sm-12 mb-3">
                    <div class="form-group">
                     <label for="inputName2">Votre Nom</label>
                     <input class="form-control" id="inputName2" name="name"
                     placeholder="Votre nom au complet" type="text"
                     required="required">
                 </div>
             </div>
             <div class="col-sm-12 mb-3">
                <div class="form-group">
                 <label for="inputEmail">Telephone</label>
                 <input class="form-control" id="inputEmail" name="telephone"
                 placeholder="Votre numéro de téléphone" type="number"
                 required="required">
             </div>
         </div>
         <div class="col-sm-12 mb-3">
            <div class="form-group">
             <label for="inputEmail">Email</label>
             <input class="form-control" id="inputEmail" name="email"
             placeholder="Adresse E-mail" type="email"
             required="required">
         </div>
     </div>
 </div>

</div>
<div class="col-sm-12">

  <div class="form-group">
   <label for="inputMessage2">Votre Message</label>
   <textarea class="form-control" rows="9" id="inputMessage2" name="content">Message</textarea>
</div>

</div>

</div>

<div class="row">
 <div class="col-sm-12">
                                        {#<div class="form-group capthca">
                                            <label for="inputCapthca" class="sr-only">Capthca</label>
                                            <input class="form-control" id="inputCapthca" name="capthca" value="Capthca" onblur="if (this.value == '')
                                                        this.value = 'Capthca'" onfocus="if (this.value == 'Capthca')
                                                                    this.value = ''" type="text">
                                        </div>
                                        <div class="form-group img">
                                            <img src="captcha/captcha.php" alt="">
                                        </div>#}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success">
                                	<i class="fas fa-paper-plane"></i>
                                	ENVOYER
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}