{% extends 'base.html.twig' %}
{% block title %}CONTACT{% endblock %}
{% block body %}
    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1">
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fas fa-angle-right"></i>
                Detail
                <i class="fas fa-angle-right"></i>
                Produit:
                <b>{{ product.nomProduit }}</b>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 column-content">
                    <div class="gslider-wrapper">
                        <div id="gslider" class="flexslider">

                            {% if medias is empty %}
                            {% else %}
                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="{{ medias[0].alt }}" alt="First slide">
                                            </div>
                                            {% for m in medias %}
                                                {% if m.id == medias[0].id %}
                                                {% else %}
                                                    <div class="carousel-item ">
                                                        <img class="d-block w-100" src="{{ m.alt }}" alt="First slide">
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="p-2">

                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link text-left tab-text active" id="pills-home-tab" data-toggle="pill"
                                       href="#pills-home"
                                       role="tab" aria-controls="pills-home" aria-selected="true">Resumé</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-left tab-text" id="pills-profile-tab" data-toggle="pill"
                                       href="#pills-profile"
                                       role="tab" aria-controls="pills-profile"
                                       aria-selected="false">Caratéristiques</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                     aria-labelledby="pills-home-tab">
                                    {{ product.description }}

                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                     aria-labelledby="pills-profile-tab">
                                    <table class='table table-hover'>
                                        <tbody>
                                        {% if description.empattement is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Empattement</th>
                                                <td>
                                                    {{ description.empattement }} mm
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.poids is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Poids</th>
                                                <td>
                                                    {{ description.poids }} mm
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.dimension is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Dimensions</th>
                                                <td>
                                                    {{ description.dimension }} mm
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.systemDeFreinage is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Système de freinage</th>
                                                <td>
                                                    {{ description.systemDeFreinage }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.torque is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Torque</th>
                                                <td>
                                                    {{ description.torque }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.typeDeMoteur is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Type de moteur</th>
                                                <td>
                                                    {{ description.typeDeMoteur }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.fonctionnementDuFrein is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Fonctionnement du frein</th>
                                                <td>
                                                    {{ description.fonctionnementDuFrein }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.demarreur is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Démarreur</th>
                                                <td>
                                                    {{ description.demarreur }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.puissance is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Puissance</th>
                                                <td>
                                                    {{ description.puissance }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                        {% if description.capaciteReservoirEssence is null %}
                                        {% else %}
                                            <tr>
                                                <th class="font-weight-normal text-secondary">Capacité de réservoir essence</th>
                                                <td>
                                                    {{ description.capaciteReservoirEssence }}
                                                </td>
                                            </tr>
                                        {% endif %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-3 column-sidebar">
                    <div class="banner2-wrapper">
                        <div class="banner2">
                            <div class="top-info clearfix">
                                <div class="info1">
                                    <div class="txt1">{{ product.nomProduit }}</div>
                                    <div class="txt2">
                                        <span class="txt text-uppercase">notation</span>
                                        <span class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="txt3">
                                {% if product.prix is empty %}
                                    <b class="text-white">Prix négociable</b>
                                {% else %}
                                    {{ product.prix|number_format(0, '.', ' ') }}
                                    FCFA
                                {% endif %}
                            </div>

                        </div>
                        <p></p>
                        {{ render(controller('AppBundle:Default:categoires')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}