{% extends 'base.html.twig' %}
{% block title %}CONTACT{% endblock %}
{% block body %}
    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1">
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fas fa-angle-right"></i>
                Detail
                <i class="fas fa-angle-right"></i>
                Produit:
                <b>{{ product.libelle }}</b>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-9 column-content">
                    <img src="{{ asset('uploads/products/piecedetachee/'~ product.image) }}" class="img-fluid"
                         alt="image"/>
                    <div class="p-2">

                        {{ product.resume }}

                    </div>
                </div>
                <div class="col-sm-12 col-md-3 column-sidebar">
                    <div class="banner2-wrapper">
                        <div class="banner2">
                            <div class="top-info clearfix">
                                <div class="info1">
                                    <div class="txt1">{{ product.libelle }}</div>
                                    {#<div class="txt2">#}
                                    {#<span class="txt text-uppercase">notation</span>#}
                                    {#<span class="stars">#}
                                    {#<i class="fa fa-star" aria-hidden="true"></i>#}
                                    {#<i class="fa fa-star" aria-hidden="true"></i>#}
                                    {#<i class="fa fa-star" aria-hidden="true"></i>#}
                                    {#<i class="fa fa-star" aria-hidden="true"></i>#}
                                    {#<i class="fa fa-star-o" aria-hidden="true"></i>#}
                                    {#</span>#}
                                    {#</div>#}
                                </div>
                            </div>
                            <div class="txt3">
                                {% if product.prix is empty %}
                                    <b class="text-white">Prix négociable</b>
                                {% else %}
                                    {{ product.prix|number_format(0, '.', ' ') }}
                                    FCFA
                                {% endif %}
                            </div>

                        </div>
                        <p></p>
                        {{ render(controller('AppBundle:Default:categoirespiece')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}