{% extends 'base.html.twig' %}
{% block title %}ACCUEIL{% endblock %}
{% block body %}
    <section class="mb-2">
        {% include 'default/include/slide.html.twig' %}
    </section>
    <section class="mt-3 pt-3" id="nouveautés">
        <div class="title1 text-center mt-3 pt-3">
            <span>Nouveautés</span></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="thumb1">
                        <div class="thumbnail clearfix">
                            <figure>
                                <a href="details.html">
                                    <img src="{{asset('dist/img/new/2.jpg')}}" alt="" class="img-responsive">
                                </a>
                            </figure>
                            <div class="caption">
                                <div class="txt1">
                                    <span class="txt">NOUVEAUTE</span>
                                    <span class="stars">
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="txt2">LIFAN LF110-26H</div>
                                <div class="txt3">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ sem velde metus imperdiet lacinia.</div>
                                <div class="link">
                                    <a href="details.html" class="btn-default btn4">
                                        <span>LIRE PLUS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumb1">
                        <div class="thumbnail clearfix">
                            <figure>
                                <a href="details.html">
                                    <img src="{{asset('dist/img/new/3.jpg')}}" alt="" class="img-responsive">
                                </a>
                            </figure>
                            <div class="caption">
                                <div class="txt1">
                                    <span class="txt">NOUVEAUTE</span>
                                    <span class="stars">
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                        <i class="far fa-star" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="txt2">LIFAN-LF110-3S</div>
                                <div class="txt3">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ sem velde metus imperdiet lacinia.</div>
                                <div class="link">
                                    <a href="details.html" class="btn-default btn4">
                                        <span>LIRE PLUS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumb1">
                        <div class="thumbnail clearfix">
                            <figure>
                                <a href="details.html">
                                    <img src="{{asset('dist/img/new/1.jpg')}}" alt="" class="img-responsive">
                                </a>
                            </figure>
                            <div class="caption">
                                <div class="txt1">
                                    <span class="txt">NOUVEAUTE</span>
                                    <span class="stars">
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                        <i class="far fa-star" aria-hidden="true"></i>
                                        <i class="far fa-star" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="txt2">SANYA S125</div>
                                <div class="txt3">Curabitur libero. Donec facilisis velit eu est. Phasellus cons quat. Aenean vitae quam. Vivamus et nunc. Nunc consequ sem velde metus imperdiet lacinia.</div>
                                <div class="link">
                                    <a href="details.html" class="btn-default btn4">
                                        <span>LIRE PLUS</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="welcome">
        <div>
            <div id="parallax1" class="parallax">
                <div class="bg1 parallax-bg bg-fixed" style="background-position: 50% -56px;"></div>
                <div class="parallax-content">
                    <div class="container">

                        <div class="logo-s"><img src="{{ asset('dist/img/san.png') }}" alt="" class="img-fluid" style="height:79px"></div>

                        <div class="txt1">BIENVENU A VITRACO SARL</div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="txt2">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam, sed diam nonummy nibh “<b>euismod tincidunt</b>” ut laoreet dolore magna aliquam losa volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit diam nonummy euismod tincidunt.
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="txt3">
                                    LOREM IPSUM
                                    <span>DOLOR</span>
                                    SIT AMET CONCATEUR DUO
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Nos_Produits" style="margin-top:-20px;">
        {% include 'default/include/products.html.twig' %}
    </section>
{% endblock %}