{% extends 'base.html.twig' %}
{% block title %}ACCUEIL{% endblock %}
{% block body %}
    <section class="mb-2">
        {{ render(controller('AppBundle:Default:slides')) }}
    </section>
    <section class="mt-3 pt-3" id="nouveautés">
        <div class="title1 text-center mt-3 pt-3">
            <span>Nouveautés</span></div>
        <div class="container">
            <div class="row">
                {% for n in newProducts | slice(0, 3) %}
                    <div class="col-sm-4">
                        <div class="thumb1">
                            <div class="thumbnail clearfix">
                                <figure>
                                    <a href="{{ path('details',{'id':n.id}) }}">
                                        <img src="{{ n.alt }}" style="height: 219px;" alt="" class="img-responsive">
                                    </a>
                                </figure>
                                <div class="caption">
                                    <div class="txt1">
                                        <span class="txt">NOUVEAUTE</span>
                                        <span class="stars">
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                            <i class="fas fa-star" aria-hidden="true"></i>
                                            <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="txt2">{{ n.nomProduit }}</div>
                                    <div class="txt3">{{ n.description|slice(0,10) }}</div>
                                    <div class="link">
                                        <a href="{{ path('details',{'id':n.id}) }}" class="btn-default btn4">
                                            <span>LIRE PLUS</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row mb-2">
                <a href="{{ path('les_nouveaute') }}" class="mx-auto btn btn-danger font-weight-bold">
                    VOIR PLUS
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </section>
    <section id="welcome">
        <div>
            <div id="parallax1" class="parallax">
                <div class="bg1 parallax-bg bg-fixed" style="background-position: 50% -56px;"></div>
                <div class="parallax-content">
                    <div class="container">

                        <div class="logo-s"><img src="{{ asset('dist/img/san.png') }}" alt="" class="img-fluid"
                                                 style="height:79px"></div>

                        <div class="txt1">BIENVENU CHEZ VITRACO</div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="txt2">
                                    IMPORT - EXPORT - COMMERCE GENERAL Vente des motos SANYA neuves d'Origine Pièces
                                    Détachées Auto - Moto d'origine -Pneumatique - Batteries
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="txt3">
                                    ACHETER CHEZ
                                    <span>VITRACO</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Nos_Produits" style="margin-top:-20px;">
        {% include 'default/include/products.html.twig' %}
    </section>
{% endblock %}