{% extends 'base.html.twig' %}
{% block title %}NOUVEAUTE{% endblock %}
{% block body %}
    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1">
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fas fa-angle-right"></i>
                Les Nouveautés
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">

            <div class="row">

                <div class="col-sm-12 col-md-9 col-md-pull-3 column-content">

                    <div id="first-tab-group" class="tabgroup">
                        <div id="tabs2-1" style="display: block;">
                            {% if newproducts is empty or newproducts is null %}
                                <h5>Pas de produit</h5>
                            {% else %}
                                <div id="firstbatch">
                                    {% include ':default/ajaxviews:loadmoto.html.twig' with {'products': newproducts} %}
                                </div>
                            {% endif %}

                            <div class="pager_wrapper">
                                {% if newproducts|length> 1 %}
                                    <input type="hidden" value="2" id="pagenumber">
                                    <button class="btn btn-danger" onclick="ajax.loadMoreMewBikes();">AFFICHER
                                        PLUS
                                    </button>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-sm-12 col-md-3 col-md-push-9 column-sidebar">

                    <div class="sidebar-form-wrapper">
                        <div class="sidebar-form">
                            {{ render(controller('AppBundle:Default:categoires')) }}
                        </div>
                    </div>

                    {# <div class="banner">
                        <figure><img src="images/banner.jpg" alt="" class="img-responsive"></figure>
                        <div class="caption">
                            <div class="txt1">SELL YOUR CAR</div>
                            <div class="txt2">Nam tellus enimds eleifend dignis lsim biben edum tristique sed metus fusce Maecenas lobortis.</div>
                            <div class="txt3">
                                <a href="#" class="btn-default btn2">REGISTER NOW</a>
                            </div>
                        </div>
                    </div> #}

                </div>
            </div>

        </div>
    </div>
{% endblock %}