{% extends 'base.html.twig' %}
{% block title %}CATEGORIE:
    {{ category.libelle }}{% endblock %}
{% block body %}
    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1">
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fas fa-angle-right"></i>
                Les Categorie:
                <i class="fas fa-angle-right"></i>
                {{ category.libelle }}
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">

            <div class="row">

                <div class="col-sm-12 col-md-9 col-md-pull-3 column-content">

                    <div id="first-tab-group" class="tabgroup">
                        <div id="tabs2-1" style="display: block;">
                            {% if category.estActive == false %}
                                <h3 class="text-center font-weight-bold">
                                    <i class="fas fa-sad-tear"></i>
                                    Cette catégorie n'existe plus ou a été décativée !
                                </h3>
                            {% else %}
                            {% if singleCat is not empty or singleCat is not null %}
                                <div id="firstbatch">
                                    {% for p in singleCat %}
                                        <div class="car-view1-wrapper">
                                            <div class="car-view1 clearfix">
                                                <figure>
                                                    <img src="{{ asset('uploads/products/piecedetachee/'~ p.image) }}"
                                                         class="img-responsive prodlistbg">
                                                </figure>
                                                <div class="caption">
                                                    <div class="top-info clearfix">
                                                        <div class="info1">
                                                            <div class="txt1">{{ p.libelle }}</div>
                                                        </div>
                                                        <div class="info2">
                                                            <div class="txt3">
                                                                {% if p.prix is empty %}
                                                                    <span class="text-white">Prix négociable</span>
                                                                {% else %}
                                                                    {{ p.prix }}
                                                                    FCFA
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="bot-info clearfix">

                                                        <div class="info4">
                                                            <div class="txt7">
                                                                <a href="{{ path('detailsP',{'id':p.id}) }}"
                                                                   class="btn-default btn3">VOIR DETAILS</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            {% else %}
                                <h3 class="text-center font-weight-bold text-secondary">Pas de produits pour cette
                                    catégorie</h3>
                            {% endif %}

                            <div class="pager_wrapper">
                                {% if  singleCat|length> 5 %}
                                    <input type="hidden" id="libelle" value="{{ category.libelle }}">
                                    <input type="hidden" value="2" id="pagenumber">
                                    <button class="btn btn-danger" onclick="ajax.loadMoreLubCat();">AFFICHER
                                        PLUS
                                    </button>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-md-push-9 column-sidebar">
                    <div class="sidebar-form-wrapper">
                        <div class="sidebar-form">
                            {{ render(controller('AppBundle:Default:categoireslubrifiant')) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

