{% extends 'base.html.twig' %}
{% block title %}CATEGORIE:
    <span class="text-uppercase">{{ category.libelle }}</span>{% endblock %}
{% block body %}
    <div class="breadcrumbs1_wrapper">
        <div class="container">
            <div class="breadcrumbs1">
                <a href="{{path('homepage')}}">Home</a>
                <i class="fas fa-angle-right"></i>
                Les Categorie:
                <i class="fas fa-angle-right"></i>
                {{ category.libelle }}
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">

            <div class="row">

                <div class="col-sm-12 col-md-9 col-md-pull-3 column-content">

                    <div id="first-tab-group" class="tabgroup">
                        <div id="tabs2-1" style="display: block;">
                            {% if category.estActive == false %}
                                <h3 class="text-center font-weight-bold">
                                    <i class="fas fa-sad-tear"></i>
                                    Cette catégorie n'existe plus ou a été décativée !
                                </h3>
                            {% else %}
                            {% if  products is not null  %}
                                <div id="firstbatch">
                                    {% include ':default/ajaxviews:loadmoto.html.twig' with {'products': products} %}
                                </div>
                            {% else %}
                                <h3 class="text-center font-weight-bold text-secondary">Pas de produits pour cette catégorie</h3>
                            {% endif %}

                            <div class="pager_wrapper">
                                {#{% if products|length> 5 %}#}
                                <input type="hidden" id="libelle" value="{{ category.libelle }}">
                                <input type="hidden" value="2" id="pagenumber">
                                <button class="btn btn-danger" onclick="ajax.loadmorebike2();">AFFICHER
                                    PLUS
                                </button>
                                {#{% endif %}#}
                            </div>
                            {% endif %}
                        </div>

                    </div>

                </div>
                <div class="col-sm-12 col-md-3 col-md-push-9 column-sidebar">

                    <div class="sidebar-form-wrapper">
                        <div class="sidebar-form">
                            {{ render(controller('AppBundle:Default:categoires')) }}
                        </div>
                    </div>

                    {# <div class="banner">
                        <figure><img src="images/banner.jpg" alt="" class="img-responsive"></figure>
                        <div class="caption">
                            <div class="txt1">SELL YOUR CAR</div>
                            <div class="txt2">Nam tellus enimds eleifend dignis lsim biben edum tristique sed metus fusce Maecenas lobortis.</div>
                            <div class="txt3">
                                <a href="#" class="btn-default btn2">REGISTER NOW</a>
                            </div>
                        </div>
                    </div> #}

                </div>
            </div>

        </div>
    </div>
{% endblock %}