{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">
                <b>Modification du promotion</b>
            </h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('promotions_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des promotions</a>
            </ul>
            <div>
                {#<img src="{{  asset('uploads/promotion/' ~ tPromotion.image) }}" class="img-fluid mx-auto" style="height:300px" alt="image"/>#}
            </div>
            <br>
            {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.libelle) }}
                        {{ form_widget(edit_form.libelle  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.model) }}
                        {{ form_widget(edit_form.model  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        {{ form_label(edit_form.produit ) }}
                        {{ form_widget(edit_form.produit , {'attr' : {'class' : 'chosen-select'}}
                        ) }}

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.prix) }}
                        {{ form_widget(edit_form.prix  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.dateDebut ) }}
                        {{ form_widget(edit_form.dateDebut, {'attr' : {'class' : 'form-control flatpickr-input date-picker'}}
                        ) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.dateFin ) }}
                        {{ form_widget(edit_form.dateFin, {'attr' : {'class' : 'form-control flatpickr-input date-picker'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <label>Image
                            <small style="background: lightgray;padding: 5px;" class="font-weight-bold">Taille d'image à
                                charger 1366px * 571px
                            </small>
                            {% if media is not null %}
                                <b class="text-danger">&nbsp;Il y a une image qui liee a cette promotion si vous telechagre un autre ca va remplacer l'image existant !!!</b>
                            {% endif %}
                        </label>
                        <br>
                        <br>
                        <input type="file" name="imagefiles"/>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Valider"/>
        {{ form_end(edit_form) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#promotion").addClass("navigation__active");
        $('form[name="appbundle_tpromotions"]').attr('enctype', 'multipart/form-data');
        $("#appbundle_tpromotions_model").removeAttr("required");
        $("#appbundle_tpromotions_prix").removeAttr("required");
        $("#appbundle_tpromotions_produit").removeAttr("required");
        $("#appbundle_tpromotions_libelle").attr("required", "required");
        $("#appbundle_tpromotions_dateDebut").attr("required", "required");
        $("#appbundle_tpromotions_dateFin").attr("required", "required");
    </script>
{% endblock %}