{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Liste des promotions</h1>
            <ul style="padding-left:0px">
                <a class="btn btn-success" href="{{ path('promotions_new') }}">
                    <i class="zmdi zmdi-plus-circle"></i>&nbsp;&nbsp;Créer une nouvelle promotion
                </a>
            </ul>
            <table id="data-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Libellé</th>
                        {#<th>Model</th>#}
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tPromotion in tPromotions %}
                        {% if tPromotion.estActive == 0 %}
                            <tr style="background-color: #3e4950;color: #fff" title="Promotion desactive">
                            {% else %}
                                <tr>
                                {% endif %}
                                <td>{{ tPromotion.libelle }}</td>
                                {#<td>{{ tPromotion.prix }}</td>#}
                                {#<td>{{ tPromotion.model }}</td>#}
                                <td>{{ tPromotion.dateDebut|date('d/m/Y') }}</td>
                                <td>{{ tPromotion.dateFin|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ path('promotions_show', { 'id': tPromotion.id }) }}">
                                        <button class="btn btn-sm btn-success btn--icon" title="Voir details">
                                            <i class="zmdi zmdi-eye"></i>
                                        </button>
                                    </a>
                                    <a href="{{ path('promotions_edit', { 'id': tPromotion.id }) }}">
                                        <button class="btn btn-sm btn-primary btn--icon" title="Modifier">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </a>
                                    <a href="{{ path('promotion_change', { 'id': tPromotion.id }) }}">
                                        <button class="btn btn-sm btn-warning btn--icon" title="Changer le statut">
                                            <i class="zmdi zmdi-refresh"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{parent()}}
        <script>
            $("ul.navigation li").removeClass("navigation__active");
            $("#promotion").addClass("navigation__active");
        </script>
        <!-- Vendors: Data tables -->
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js')}}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/jszip/dist/jszip.min.js')}}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
        {# <script>
            $("#dtable").DataTable({
                "language": {
                    "sProcessing": "Traitement en cours...",
                    "sSearch": "Rechercher",
                    "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix": "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst": "Premier",
                        "sPrevious": "Pr&eacute;c&eacute;dent",
                        "sNext": "Suivant",
                        "sLast": "Dernier"
                    },
                    "oAria": {
                        "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    },
                    "select": {
                        "rows": {
                            _: "%d lignes séléctionnées",
                            0: "Aucune ligne séléctionnée",
                            1: "1 ligne séléctionnée"
                        }
                    }
                }
            });
        </script> #}
    {% endblock %}