{% extends 'baseadmin.html.twig' %}

{% block content %}
<div class="card">
    <div class="card-body">

        <h1 class="card-body__title">
            <b>Creer une nouvelle promotion</b>
        </h1>
        <ul style="padding-left:0px">
            <a class="btn btn-danger btn--icon-text" href="{{ path('promotions_index') }}">
                <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des promotions</a>
        </ul>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.libelle) }}
                    {{ form_widget(form.libelle  , {'attr' : {'class' : 'form-control'}}
                    ) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.model) }}
                    {{ form_widget(form.model  , {'attr' : {'class' : 'form-control'}}
                    ) }}
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.produit ) }}
                    {{ form_widget(form.produit , {'attr' : {'class' : 'chosen-select'}}
                    ) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.prix) }}
                    {{ form_widget(form.prix  , {'attr' : {'class' : 'form-control'}}
                    ) }}
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">

                    {{ form_label(form.dateDebut ) }}
                    {{ form_widget(form.dateDebut, {'attr' : {'class' : 'form-control flatpickr-input date-picker'}}
                    ) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.dateFin ) }}
                    {{ form_widget(form.dateFin, {'attr' : {'class' : 'form-control flatpickr-input date-picker'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Image
                        <small style="background: lightgray;padding: 5px;" class="font-weight-bold">Taille d'image a
                            upload 1366px * 571px
                        </small>
                    </label>
                    <br>
                    <br>
                    <input type="file" multiple="multiple" required="required" name="imagefiles"/>
                </div>
            </div>
        </div>
        </div>
        <input type="submit" class="btn btn-success" value="Valider"/>
        {{ form_end(form) }}
    </div>
    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#promotion").addClass("navigation__active");
        $('form[name="appbundle_tpromotions"]').attr('enctype', 'multipart/form-data');
        $("#appbundle_tpromotions_model").removeAttr("required");
        $("#appbundle_tpromotions_prix").removeAttr("required");
        $("#appbundle_tpromotions_produit").removeAttr("required");
        $("#appbundle_tpromotions_libelle").attr("required","required");
    </script>
        {% endblock %}