{% extends 'baseadmin.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Promotion :{{ tPromotion.libelle }}</h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('promotions_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des promotions</a>
                <a class="btn btn-primary btn--icon-text" href="{{ path('promotions_edit', { 'id': tPromotion.id }) }}">
                    <i class="zmdi zmdi-edit"></i>Modifier cet promotion</a>
            </ul>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="{{  media.alt }}" class="img-fluid" alt="image"/>

                </div>
                <div class="col-sm-12 col-md-6">
                    <table class='table'>
                        <tbody>
                            <tr>
                                <th>Prix</th>
                                <td>{{ tPromotion.prix }}</td>
                            </tr>
                            <tr>
                                <th>Model</th>
                                <td>{{ tPromotion.model }}</td>
                            </tr>
                            <tr>
                                <th>Date debut</th>
                                <td>{{ tPromotion.dateDebut|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <th>Date fin</th>
                                <td>{{ tPromotion.dateFin|date('d/m/Y') }}</td>
                            </tr>
                        </tbody>
                    </table>

</div>
            </div>

        {% endblock %}
        {% block javascripts %}
            {{parent()}}
            <script>
                $("ul.navigation li").removeClass("navigation__active");
                $("#promotion").addClass("navigation__active");
            </script>
        {% endblock %}