{% extends 'baseadmin.html.twig' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-body__title">Liste des utilisateurs</h1>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <ul style="padding-left:0px">
            <a class="btn btn-success" href="{{ path('utilisateur_form') }}">
                <i class="zmdi zmdi-plus-circle"></i>&nbsp;&nbsp;Créer un nouvel utilisateur
            </a>
        </ul>
        {% endif %}
        <table id="data-table" class="table table-hover">
            <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Date de dernière connexion</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            {% if app.user.id == user.id %}
            {%else%}
                <tr>

                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_login }}</td>
                    <td>
                        {% if user.enabled == 1 %}
                            <b>Est Active</b>
                        {% else %}
                            <b>Est Desactive</b>
                        {% endif %}

                    </td>
                    <td>
                        {% if user.enabled == 1 %}
                          <a href="{{ path('change_stat',{ 'stat': 0,'id': user.id }) }}">
                            <button class="btn btn-sm btn-warning btn--icon" title="Changer le statut">
                                                <i class="zmdi zmdi-refresh"></i>
                                            </button>
                            </a>
                            {% else %}
                            <a href="{{ path('change_stat',{ 'stat': 1,'id': user.id }) }}">
                              <button class="btn btn-sm btn-warning btn--icon" title="Changer le statut">
                                                <i class="zmdi zmdi-refresh"></i>
                                            </button>
                            </a>
                              {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        {% endblock %}
        {% block javascripts %}
        {{ parent() }}
        <script>
            $("ul.navigation li").removeClass("navigation__active");
            $("#user").addClass("navigation__active");
            $("#product").removeClass("navigation__active");
        </script>
        <!-- Vendors: Data tables -->
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/jszip/dist/jszip.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
        {% endblock %}