{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">
                <b>Creer un nouvelle utilisateur</b>
            </h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('utilisateur_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des utilisateurs</a>
            </ul>
            <form action="{{path('utilisateur_new')}}" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nom et Prenom</label>
                            <input type="text" class="form-control" name="nomprenom"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>
                            <input type="text" class="form-control" name="username"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Role</label>
                            <select name="role" class="form-control" id="">
                                <option value=""></option>
                                <option value="ROLE_ADMIN">ADMIN</option>
                                <option value="ROLE_SUPER_ADMIN">SUPER ADMIN</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" name="pass"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Confirme Mot de passe</label>
                            <input type="password" class="form-control" name="confpass"/>
                        </div>
                    </div>
                    <input type="submit" value="Valider" class="btn btn-success"/>
                </form>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
            {{parent()}}
            <script>
                $("ul.navigation li").removeClass("navigation__active");
                $("#user").addClass("navigation__active");
            </script>
    {% endblock %}
