{% extends 'baseadmin.html.twig' %}
{% block title %}ACCUEIL{% endblock %}
{% block content %}
    Hello
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#home").addClass("navigation__active");
    </script>
{% endblock %}