{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Modification de la catégories</h1>
            {{ form_start(edit_form) }}
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_label(edit_form.libelle) }}
                    {{ form_widget(edit_form.libelle  , {'attr' : {'class' : 'form-control'}} ) }}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_label(edit_form.typeProduit) }}
                    {{ form_widget(edit_form.typeProduit  , {'attr' : {'class' : 'form-control'}} ) }}
                </div>
            </div>
            <input class="btn btn-success btn--icon-text" type="submit" value="Valider"/>
            {{ form_end(edit_form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#category").addClass("navigation__active");
        $("#product").removeClass("navigation__active");
    </script>
{% endblock %}