{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">
                <b>Liste des catégories</b>
            </h1><br>

            <a class="btn btn-success " href="{{ path('categorie_new') }}">
                <i class="zmdi zmdi-plus-circle"></i>&nbsp;&nbsp; Créer une nouvelle catégorie
            </a>

            <table id="data-table" class="table table-hover">
                <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Type produit</th>
                    <th>Créé le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tCategorie in tCategories %}
                    {% if tCategorie.estActive == false %}
                        <tr style="background-color: #3e4950;color: #fff" title="Catégorie desactive">
                    {% else %}
                        <tr>
                    {% endif %}

                    <td>{{ tCategorie.libelle }}</td>
                    <td>{{ tCategorie.typeProduit.libelle }}</td>
                    <td>
                        {% if tCategorie.created %}{{ tCategorie.created|date('Y-m-d H:i:s') }}
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            <a href="{{ path('categorie_show', { 'id': tCategorie.id }) }}">
                                <button class="btn btn-success btn--icon" title="Voir details">
                                    <i class="zmdi zmdi-eye"></i>
                                </button>
                            </a>
                            <a href="{{ path('categorie_edit', { 'id': tCategorie.id }) }}">
                                <button class="btn btn-primary btn--icon" title="Modifier">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                            </a>
                            {#<a href="{{ path('categorie_change', { 'id': tCategorie.id }) }}"#}
                               {#id="change{{ tCategorie.id }}" style="display: none;">#}
                                {#<button class="btn btn-sm btn-warning btn--icon" title="Changer le statut">#}
                                    {#<i class="zmdi zmdi-refresh"></i>#}
                                {#</button>#}
                            {#</a>#}
                            {#<a >#}
                            <button class="btn btn-sm btn-warning btn--icon ask" id="{{ tCategorie.id }}"
                                    data-toggle="modal" data-target="#modal-small"><i
                                        class="zmdi zmdi-refresh"></i></button>
                            {#<button class="btn btn-sm btn-warning btn--icon" title="Changer le statut">#}
                            {#<i class="zmdi zmdi-refresh"></i>#}
                            {#</button>#}
                            {#</a>#}
                        </ul>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="modal fade" id="modal-small" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <form action="{{ path('categorie_change') }}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title pull-left text-uppercase text-danger boldFont text-center">
                                    Attention
                                    <i class="zmdi zmdi-alert-circle zmdi-hc-fw"></i>
                                </h5>
                            </div>
                            <div class="modal-body">
                                Vous être sur le point de changer le statu de cette catégorie, mais elle est susceptible
                                d'être liée à d'autre produits.
                                <input type="hidden" id="holder" name="id">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-danger ctinue text-uppercase">Persister</button>
                                <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#category").addClass("navigation__active");
        $("#product").removeClass("navigation__active");
        $(".ask").click(function () {
            var id = this.id;
            $('#holder').val(id);
        });
        // $(".ctinue").click(function () {
        //     var id = $('#holder').val();
        //     // var change = '#change' + id;
        //     // change.html(yes);
        //     // $('#'+"'"+change).trigger('click');
        // });
    </script>
    <!-- Vendors: Data tables -->
    <script src="{{ asset('distadmin/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('distadmin/vendors/bower_components/jszip/dist/jszip.min.js') }}"></script>
    <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
{% endblock %}