{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-body__title">
                <b>Création d'une catégories</b>
            </h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('categorie_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des produits</a>
            </ul>
            {{ form_start(form) }}

            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_label(form.libelle) }}
                    {{ form_widget(form.libelle  , {'attr' : {'class' : 'form-control'}} ) }}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    {{ form_label(form.typeProduit) }}
                    {{ form_widget(form.typeProduit  , {'attr' : {'class' : 'form-control'}} ) }}
                </div>
            </div>
            <input class="btn btn-success btn--icon-text" type="submit" value="Valider"/>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#category").addClass("navigation__active");
    </script>
{% endblock %}