{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Catégorie</h1>
                        <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('categorie_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des categorie</a>
                <a class="btn btn-primary btn--icon-text" href="{{ path('categorie_edit', { 'id': tCategorie.id }) }}">
                    <i class="zmdi zmdi-edit"></i>Modifier cet catégorie</a>
            </ul>

                <div class="col-sm-12 col-md-6">
            <table class="table">
                <tbody>

                    <tr>
                        <th>Libellé</th>
                        <td>{{ tCategorie.libelle }}</td>
                    </tr>
                    <tr>
                        <th>Type produit</th>
                        <td>{{ tCategorie.typeProduit.libelle }}</td>
                    </tr>
                    <tr>
                        <th>Cree le</th>
                        <td>
                            {% if tCategorie.created %}{{ tCategorie.created|date('Y-m-d H:i:s') }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
</div>
           
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#category").addClass("navigation__active");
    </script>
{% endblock %}