{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tmedia list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Alt</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tMedia in tMedia %}
            <tr>
                <td><a href="{{ path('tmedia_show', { 'id': tMedia.id }) }}">{{ tMedia.id }}</a></td>
                <td>{{ tMedia.alt }}</td>
                <td>{{ tMedia.url }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tmedia_show', { 'id': tMedia.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tmedia_edit', { 'id': tMedia.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tmedia_new') }}">Create a new tMedia</a>
        </li>
    </ul>
{% endblock %}
