{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tmedia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tMedia.id }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ tMedia.alt }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ tMedia.url }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tmedia_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tmedia_edit', { 'id': tMedia.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
