{% extends 'baseadmin.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">
                <b>Modification du cette produit</b>
            </h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('produit_autre') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des produits</a>
            </ul>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.libelle) }}
                        {{ form_widget(form.libelle  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {#{{ form_label(form.categorie) }}#}
                        {#{{ form_widget(form.categorie  , {'attr' : {'class' : 'chosen-select'}}#}
                        {#) }}#}
                        <label for="appbundle_tproduitpieces_categorie" class="required">Categorie</label>
                        <select name="categorie"  required id="appbundle_tproduitpieces_categorie" class="chosen-select">
                            {% for c in categorie %}
                                <option value="{{ c.id }}">{{ c.libelle }}- ({{ c.typeproduit }}) </option>
                            {% endfor %}
                        </select>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.prix) }}
                        {{ form_widget(form.prix  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.image) }}
                        {% if tProduitPiece.image is not null %}
                            <br><small class="font-weight-bold text-danger" style="line-height: 0.3">&nbsp;Il y a une image qui liee a cette produit si vous chagre un autre ca va remplacer l'image existant !!!</small>
                            <input type="hidden" name="img" value="{{ tProduitPiece.image }}">
                        {% endif %}
                        {{ form_widget(form.image  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.resume) }}
                        {{ form_widget(form.resume  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Valider"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>
         $("ul.navigation li").removeClass("navigation__active");
         $("#product").addClass("navigation__active navigation__sub--active navigation__sub--toggled");
         $("#piece").addClass("navigation__active");
         $("#appbundle_tproduitpieces_image").removeAttr("required");
     </script>
 {% endblock %}
