{% extends 'baseadmin.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Liste des autres produit</h1>
            <ul style="padding-left:0px">
                <a class="btn btn-success" href="{{ path('produit_autre_new') }}">
                    <i class="zmdi zmdi-plus-circle"></i>&nbsp;&nbsp;Créer une autres produit
                </a>
            </ul>
            <table id="data-table" class="table table-hover">
                <thead>
                <tr>
                    <th>Libelle</th>
                    <th>Categorie</th>
                    <th>Type Produit</th>
                    <th>Prix</th>
                    <th>Créé le</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for tProduitPiece in tProduitPieces %}
                    {% if tProduitPiece.estActive == 0 %}
                        <tr style="background-color: #3e4950;color: #fff" title="Produit desactive">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ tProduitPiece.libelle }}</td>
                        <td>{{ tProduitPiece.categorie.libelle }}</td>
                        <td>{{ tProduitPiece.categorie.typeProduit.libelle }}</td>
                        <td>{% if tProduitPiece.prix is empty %}
                                <b class="text-warning">Prix négociable</b>
                            {% else %}
                                {{ tProduitPiece.prix }} FCFA
                            {% endif %}
                        </td>
                        <td>{{ tProduitPiece.created|date('Y-m-d H:i:s') }}</td>
                        <td>
                            <a href="{{ path('produit_autre_show', { 'id': tProduitPiece.id }) }}">
                                <button class="btn btn-sm btn-success btn--icon" title="Voir details">
                                    <i class="zmdi zmdi-eye"></i>
                                </button>
                            </a>
                            <a href="{{ path('produit_autre_edit', { 'id': tProduitPiece.id }) }}">
                                <button class="btn btn-sm btn-primary btn--icon" title="Modifier">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                            </a>
                            <a href="{{ path('produit_autre_change', { 'id': tProduitPiece.id }) }}">
                                <button class="btn btn-sm btn-warning btn--icon" title="Changer le statut">
                                    <i class="zmdi zmdi-refresh"></i>
                                </button>
                            </a>

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>
            $("ul.navigation li").removeClass("navigation__active");
            $("#product").addClass("navigation__active navigation__sub--active navigation__sub--toggled");
            $("#piece").addClass("navigation__active");
        </script>
        <!-- Vendors: Data tables -->
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/jszip/dist/jszip.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>

    {% endblock %}