{% extends 'baseadmin.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Produit :{{ tProduitPiece.libelle }}</h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('produit_autre') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des autre produits</a>
                <a class="btn btn-primary btn--icon-text"
                   href="{{ path('produit_autre_edit', { 'id': tProduitPiece.id }) }}">
                    <i class="zmdi zmdi-edit"></i>Modifier cet produits</a>
            </ul>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img src="{{ asset('uploads/products/piecedetachee/'~ tProduitPiece.image) }}" class="img-fluid" alt="image"/>

                </div>
                <div class="col-sm-12 col-md-6">
                    <table class='table'>
                        <tbody>

                        <tr>
                            <th>Categorie</th>
                            <td>{{ tProduitPiece.categorie.libelle }}</td>
                        </tr>
                        <tr>
                            <th>Prix</th>
                            <td>
                                {% if tProduitPiece.prix is empty %}
                                    <b class="text-warning">Prix négociable</b>
                                {% else %}
                                    {{ tProduitPiece.prix }} FCFA
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Resume</th>
                            <td>{{ tProduitPiece.resume }}</td>
                        </tr>
                        <tr>
                            <th>Date de creation</th>
                            <td>{{ tProduitPiece.created|date('Y-m-d H:i:s') }}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>
         $("ul.navigation li").removeClass("navigation__active");
         $("#product").addClass("navigation__active navigation__sub--active navigation__sub--toggled");
         $("#piece").addClass("navigation__active");
     </script>
 {% endblock %}
