{% extends 'loginBase.html.twig' %}

{% block content %}



    <!-- Login -->
    <div class="login__block active" id="l-login">
        <div class="login__block__header">
            <img src="{{ asset('distadmin/img/logo_white.png') }}" class="logoimg"/>
            Veuillez vous identifier

            <div class="actions actions--inverse login__block__actions">
                <div class="dropdown">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-forget-password" href="#">Mot de passe oubile?</a>
                    </div>
                </div>
            </div>
        </div>
        <form action="{{ path('fos_user_security_check') }}" method="POST">
            {% for message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <i class="fa fa-exclamation fa-fw"></i><strong>{{ message|raw }}</strong>
                </div>

            {% endfor %}

            {% for message in app.session.flashbag.get('success') %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <i class="fa fa-check-circle fa-fw"></i> {{ message|raw }}
                </div>
            {% endfor %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <div class="login__block__body">

                <div class="form-group form-group--float form-group--centered">
                    <input type="text"  id="username" name="_username" class="form-control">
                    <label>Nom d'Utilsateur ou Email</label>
                    <i class="form-group__bar"></i>
                </div>

                <div class="form-group form-group--float form-group--centered">
                    <input type="password"  id="password" name="_password" class="form-control">
                    <label>Mot de passe</label>
                    <i class="form-group__bar"></i>
                </div>

                <button href="index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
                    {%if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}
                <br>
                <a href="{{ path('homepage') }}" class="font-weight-bold"><small><i class="fas fa-arrow-left"></i> Retournez a la page d'accueil</small></a>
            </div>

        </form>
    </div>



    <!-- Forgot Password -->
    {#<div class="login__block" id="l-forget-password">
        <div class="login__block__header palette-Purple bg">
            <i class="zmdi zmdi-account-circle"></i>
            Forgot Password?

            <div class="actions actions--inverse login__block__actions">
                <div class="dropdown">
                    <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-login" href="#">Already have an account?</a>
                        <a class="dropdown-item" data-ma-action="login-switch" data-ma-target="#l-register" href="#">Create an account</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="login__block__body">
            <p class="mt-4">Lorem ipsum dolor fringilla enim feugiat commodo sed ac lacus.</p>

            <div class="form-group form-group--float form-group--centered">
                <input type="text" class="form-control">
                <label>Email Address</label>
                <i class="form-group__bar"></i>
            </div>

            <button href="index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-check"></i></button>
        </div>
    </div>#}
{% endblock %}