{% extends 'baseadmin.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">
                <b>Modification du produit</b>
            </h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('produit_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des produits</a>
            </ul>
            {#<img src="{{  asset('uploads/products/' ~ tProduit.brochure) }}" class="img-fluid mx-auto" style="height:300px" alt="image"/>#}
            {{ form_start(edit_form) }}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.nomProduit) }}
                        {{ form_widget(edit_form.nomProduit  , {'attr' : {'class' : 'form-control'}}
                        ) }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {#{{ form_label(edit_form.categorie ) }}#}
                        {#{{ form_widget(edit_form.categorie , {'attr' : {'class' : 'chosen-select'}}#}
                        {#) }}#}
                        <label for="appbundle_tproduit_categorie" class="required">Catégorie</label>
                        <select name="categorie"  required id="appbundle_tproduit_categorie" class="chosen-select">
                            {% for c in categorie %}
                                {% if c.id == tProduit.categorie.id %}
                                <option value="{{ c.id }}" selected>{{ c.libelle }} </option>
                                {% else %}
                                <option value="{{ c.id }}">{{ c.libelle }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.prix ) }}
                        {{ form_widget(edit_form.prix , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.vitesse ) }}
                        {{ form_widget(edit_form.vitesse  , {'attr' : {'class' : 'form-control'}}
                        ) }}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(edit_form.estNouveau ) }}
                        {{ form_widget(edit_form.estNouveau   ) }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Image <small style="background: lightgray;padding: 5px;" class="font-weight-bold">Taille d'image à
                                charger 660px * 485px
                            </small></label>
                        {% if media is not empty %}
                        <span class="text-danger">Cet produit a deja <b>{{ media }}</b> image(s) lieé a ca</span>
                        {% endif %}
                        <br>
                        <br>
                        <input type="file" multiple="multiple" name="imagefiles[]"/>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_label(edit_form.description ) }}
                        {{ form_widget(edit_form.description , {'attr' : {'class' : 'form-control'}}
                        ) }}
                    </div>
                </div>
            </div>
            <div id="description" style="">
                <hr>
                <h5 class="text-center font-weight-normal text-uppercase"> CARACTERISTIQUES</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.empattement ) }}
                            {{ form_widget(form2.empattement , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.poids ) }}
                            {{ form_widget(form2.poids , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.dimension ) }}
                            {{ form_widget(form2.dimension , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.systemDeFreinage ) }}
                            {{ form_widget(form2.systemDeFreinage , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.torque ) }}
                            {{ form_widget(form2.torque , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.typeDeMoteur ) }}
                            {{ form_widget(form2.typeDeMoteur , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.demarreur ) }}
                            {{ form_widget(form2.demarreur , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.fonctionnementDuFrein ) }}
                            {{ form_widget(form2.fonctionnementDuFrein   , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.puissance ) }}
                            {{ form_widget(form2.puissance , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.capaciteReservoirEssence ) }}
                            {{ form_widget(form2.capaciteReservoirEssence , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Valider"/>
        {{ form_end(edit_form) }}

    </div>
{% endblock %}
{% block javascripts %}
{{parent()}}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#product").addClass("navigation__active navigation__sub--active navigation__sub--toggled");
        $("#moto").addClass("navigation__active");
    </script>
{% endblock %}