{% extends 'baseadmin.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Liste des motos</h1>
            <ul style="padding-left:0px">
                <a class="btn btn-success" href="{{ path('produit_new') }}">
                    <i class="zmdi zmdi-plus-circle"></i>&nbsp;&nbsp;Creer un nouveau produit
                </a>
            </ul>
            <table id="data-table" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom de produit</th>
                        <th>Prix</th>
                        <th>Type produit</th>
                        <th>Créé le</th>
                        <th>Est nouveau</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tProduit in tProduits %}

                        {% if tProduit.estActive == 0 %}
                            <tr style="background-color: #3e4950;color: #fff" title="Produit desactive">
                            {% else %}
                                <tr>
                                {% endif %}

                                <td>{{ tProduit.nomProduit }}</td>
                                <td>{{ tProduit.prix }}</td>
                                <td>{{ tProduit.typeProduit.libelle }}</td>
                                {# <td>{{ tProduit.vitesse }}</td> #}
                                <td>
                                    {% if tProduit.created %}{{ tProduit.created|date('Y-m-d H:i:s') }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if tProduit.estNouveau %}Yes{% else %}No{% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('produit_show', { 'id': tProduit.id }) }}">
                                        <button class="btn btn-sm btn-success btn--icon" title="Voir details">
                                            <i class="zmdi zmdi-eye"></i>
                                        </button>
                                    </a>

                                    <a href="{{ path('produit_edit', { 'id': tProduit.id }) }}">
                                        <button class="btn btn-sm btn-primary btn--icon" title="Modifier">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </a>
                                    <a href="{{ path('produit_change', { 'id': tProduit.id }) }}">
                                        <button class="btn btn-sm btn-warning btn--icon" title="Changer le statut">
                                            <i class="zmdi zmdi-refresh"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>
            $("ul.navigation li").removeClass("navigation__active");
            $("#product").addClass("navigation__active navigation__sub--active navigation__sub--toggled");
            $("#moto").addClass("navigation__active");
        </script>
        <!-- Vendors: Data tables -->
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/jszip/dist/jszip.min.js') }}"></script>
        <script src="{{ asset('distadmin/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    {% endblock %}