{% extends 'baseadmin.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">
                <b>Creer un nouveau produit</b>
            </h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('produit_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des produits</a>
            </ul>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.nomProduit) }}
                        {{ form_widget(form.nomProduit  , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">

                    <div class="form-group">
                        {#{{ form_label(form.categorie ) }}#}
                        {#{{ form_widget(form.categorie , {'attr' : {'class' : 'chosen-select'}}#}
                        {#) }}#}
                        <label for="appbundle_tproduit_categorie" class="required">Catégorie</label>
                        <select name="categorie"  required id="appbundle_tproduit_categorie" class="chosen-select">
                            {% for c in categorie %}
                                <option value="{{ c.id }}">{{ c.libelle }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        {{ form_label(form.prix ) }}
                        {{ form_widget(form.prix , {'attr' : {'class' : 'form-control'}}
                        ) }}

                    </div>
                </div>
                <div class="col-sm-12 col-md-6">

                    <div class="form-group">
                        {{ form_label(form.vitesse ) }}
                        {{ form_widget(form.vitesse  , {'attr' : {'class' : 'form-control'}}
                        ) }}
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group ">
                        {{ form_label(form.estNouveau ) }}
                        {{ form_widget(form.estNouveau ) }}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <label>Image
                            <small style="background: lightgray;padding: 5px;" class="font-weight-bold">Taille d'image a
                                upload 660px * 485px
                            </small>
                        </label>
                        <br>
                        <br>
                        <input type="file" multiple="multiple" required="required" name="imagefiles[]"/>
                    </div>
                </div>



            </div>

            <div class="row">

                <div class="col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.description ) }}
                        {{ form_widget(form.description , {'attr' : {'class' : 'form-control'}}
                        ) }}
                    </div>
                </div>

            </div>
            <div id="description" style="">
                <hr>
                <h5 class="text-center font-weight-normal text-uppercase"> CARACTERISTIQUES</h5>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.empattement ) }}
                            {{ form_widget(form2.empattement , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.poids ) }}
                            {{ form_widget(form2.poids , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.dimension ) }}
                            {{ form_widget(form2.dimension , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.systemDeFreinage ) }}
                            {{ form_widget(form2.systemDeFreinage , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.torque ) }}
                            {{ form_widget(form2.torque , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.typeDeMoteur ) }}
                            {{ form_widget(form2.typeDeMoteur , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.demarreur ) }}
                            {{ form_widget(form2.demarreur , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.fonctionnementDuFrein ) }}
                            {{ form_widget(form2.fonctionnementDuFrein   , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            {{ form_label(form2.puissance ) }}
                            {{ form_widget(form2.puissance , {'attr' : {'class' : 'form-control'}}
                            ) }}

                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="form-group ">
                            {{ form_label(form2.capaciteReservoirEssence ) }}
                            {{ form_widget(form2.capaciteReservoirEssence , {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{ form_rest(form2) }}
        <input type="submit" class="btn btn-success" value="Valider"/>
        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#product").addClass("navigation__active navigation__sub--active navigation__sub--toggled");
        $("#moto").addClass("navigation__active");
        $('form[name="appbundle_tproduit    "]').attr('enctype', 'multipart/form-data');
    </script>

{% endblock %}