{% extends 'baseadmin.html.twig' %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <h1 class="card-body__title">Produit :{{ tProduit.nomProduit }}</h1>
            <ul style="padding-left:0px">
                <a class="btn btn-danger btn--icon-text" href="{{ path('produit_index') }}">
                    <i class="zmdi zmdi-arrow-back"></i>Retour a la liste des produits</a>
                <a class="btn btn-primary btn--icon-text" href="{{ path('produit_edit', { 'id': tProduit.id }) }}">
                    <i class="zmdi zmdi-edit"></i>Modifier cet produits</a>
            </ul>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" class="img-fluid" src="{{ medias[0].alt }}"
                                     alt="First slide">
                            </div>
                            {% for m in medias %}
                                {% if m.id == medias[0].id %}
                                {% else %}
                                    <div class="carousel-item ">
                                        <img class="d-block w-100" class="img-fluid" src="{{ m.alt }}"
                                             alt="First slide">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">

                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#home-2" role="tab">Produit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#profile-2" role="tab">Descriptions</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active fade show" id="home-2" role="tabpanel">
                            <table class='table'>
                                <tbody>
                                <tr>
                                    <th>Nom de produit</th>
                                    <td>{{ tProduit.nomProduit }}</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>{{ tProduit.description }}</td>
                                </tr>
                                <tr>
                                    <th>Prix</th>
                                    <td>
                                        {% if tProduit.prix is null %}
                                            <b class="text-warning">Prix négociable</b>
                                        {% else %}
                                            {{ tProduit.prix|number_format(0, '.', ' ') }}
                                            FCFA
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr>
                                    <th>Vitesse</th>
                                    <td>{{ tProduit.vitesse }}
                                        KM/H
                                    </td>
                                </tr>
                                <tr>
                                    <th>Date de creation</th>
                                    <td>
                                        {% if tProduit.created %}{{ tProduit.created|date('Y-m-d H:i:s') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Estnouveau</th>
                                    <td>
                                        {% if tProduit.estNouveau %}Oui{% else %}Non{% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="profile-2" role="tabpanel">
                            <table class='table'>
                                <tbody>
                                {% if tdmoto.empattement is null %}
                                {% else %}
                                    <tr>
                                        <th>Empattement</th>
                                        <td>
                                            {{ tdmoto.empattement }} mm
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.poids is null %}
                                {% else %}
                                    <tr>
                                        <th>Poids</th>
                                        <td>
                                            {{ tdmoto.poids }} mm
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.dimension is null %}
                                {% else %}
                                    <tr>
                                        <th>Dimensions</th>
                                        <td>
                                            {{ tdmoto.dimension }} mm
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.systemDeFreinage is null %}
                                {% else %}
                                    <tr>
                                        <th>Système de freinage</th>
                                        <td>
                                            {{ tdmoto.systemDeFreinage }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.torque is null %}
                                {% else %}
                                    <tr>
                                        <th>Torque</th>
                                        <td>
                                            {{ tdmoto.torque }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.typeDeMoteur is null %}
                                {% else %}
                                    <tr>
                                        <th>Type de moteur</th>
                                        <td>
                                            {{ tdmoto.typeDeMoteur }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.fonctionnementDuFrein is null %}
                                {% else %}
                                    <tr>
                                        <th>Fonctionnement du frein</th>
                                        <td>
                                            {{ tdmoto.fonctionnementDuFrein }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.demarreur is null %}
                                {% else %}
                                    <tr>
                                        <th>Démarreur</th>
                                        <td>
                                            {{ tdmoto.demarreur }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.puissance is null %}
                                {% else %}
                                    <tr>
                                        <th>Puissance</th>
                                        <td>
                                            {{ tdmoto.puissance }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if tdmoto.capaciteReservoirEssence is null %}
                                {% else %}
                                    <tr>
                                        <th>Capacité de réservoir essence</th>
                                        <td>
                                            {{ tdmoto.capaciteReservoirEssence }}
                                        </td>
                                    </tr>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("ul.navigation li").removeClass("navigation__active");
        $("#product").addClass("navigation__active navigation__sub--active navigation__sub--toggled");
        $("#moto").addClass("navigation__active");
    </script>

{% endblock %}